/* .App {
  background: #29364d;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  height: 90vh;
} */

* {
  background: #292e36;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  /* width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available; */
}

.top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding: 0px 60px;
}

.mid {
  display: flex;
  justify-content: center;
}

.cherry-blossom {
  z-index: 1;
  /* position:relative;
  right:30px; */
}